document {
	text-decoration: none;
}

#top-menu-bar {
	position:fixed;
	right: -1%;
	top: 0px;
	list-style-type: none;
	background-color: #71C9CE;
	border-radius: 0px 0px 0px 5px;
	flex-direction:row;
}

.menu-bar-icon > .material-icons-round {
	font-size: 6vh;
}
body {
	background-color: #444444;
}
#test {
	margin-bottom: 500rem;
}




.page-2 {
	background-color: #22577A;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}


